header{
    background-color: #ff80d0;
    padding:1vh;
  }
  
  .navbar{
    display: flex;
  }
  .botoes{
    list-style:none;
    display:flex;
    margin-top:2%;
    margin-left:50%;
  }
  .botoes a{
    text-decoration:none;
    color:white;
    font-size:30px;
    font-family: arial;
  }
  
  .botoes a:hover{
    color:#811797
    
  }
  .botoes li{
    margin-left: 75px
  }
  .navbar img{
    width:200px;
  }
  