.filme_container{
    width: 300px;
    padding: 50px;
    box-shadow: 0px 0px 5px 1px #ff80d0;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.filme_container img{
    width: 100%;
}

.sinopse{
    text-align: justify;
}

.filme_container h1{
    text-align: center;
}